body{
  background-color:rgb(236, 204, 163);
  width: 100%;
  margin: 0px;
  padding: 0px;
  
}

.navbar2
{

  display: flex;
  justify-content: space-between ;
 
  background-color:powderblue;
  height: 40px;
  width: 100%;
  padding-bottom: 20px;
  
}
.navbar2 h1{
  font-size: 22px;
}
.navbar2 h1:last-child{
  margin-right: 50px;
}
.navbar2 h1:first-child{
  margin-left: 20px;
}





.front{
 
  height: 500px;
  width: 100%;
  margin-top: -55px;
  padding: 0px;

}
#back
{
  position: relative;
  top: 100px;
  left: 30px;
  font-size: 50px;
}
#front2
{
  position: absolute;
  top: 240px;
  right: 30px;
  font-size: 50px;
}
#back:hover{
  border: black solid 0.3px;
}
#front2:hover{
  border: black solid 0.3px;
}
#deals
{
  
position: absolute;
top: 360px;
left: 60px;
}

