
body{
  overflow-y: scroll;
}
.navbar
{
  background-color: black;
  display: flex;
 
  width: 100%;
  z-index: 20;
}

#logo,#login,#cart,#location{
  color: white;
}
#homelink{
  text-decoration: none;
  color: white;
}
#homelink:hover{
  color: red;
}
#cart1{
  position: absolute;
  right: 100px;
  top: 27px;
  font-size: 29px;
  color:white;
}
#cart{
  position: absolute;
  right: 40px;
  top: 23px;
  font-size: 25px;
}
#cart:hover{
  cursor: pointer;
  color: red;
}
#cart:focus{
  color: blue;
}

#search{
  position: absolute;
  left: 250px;
  top: 21px;
  height: 35px;
  width: 320px;
  padding-left: 20px;
  padding-right: 50px;
  border-radius: 20px;
}
#search1{
  color:black;

  position: absolute;
  top: 5px;
  
  right: 725px;

  

}

#login {
  position: absolute;
  right: 250px;
  top: 20px;
  font-size: 25px;
  text-decoration: none;
  
}
#link{
  color: white;
  text-decoration: none;
}
#link:hover{
  color: red;
}

#logo {
  font-size: 30px;
  padding-left: 40px;
}
#location {
  position: absolute;
  right: 510px;
  top: 20px;
  font-size: 25px;
}
#location:hover{
  color: red;
  cursor: pointer;
  
}

#location1 {
  color: red;
  position: absolute;
  right: 600px;
  top: 28px;
  font-size: 25px;
}