.product-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;
    position: absolute;
    flex-wrap: wrap;
    z-index: 2;
    top: 450px;
    width: 100%;
}
.product-container .product
{
    border: solid grey 0.1px;
    justify-content: space-between;
    margin: 25px;
    width: 200px;
    height: 330px;
    border-radius: 20px;
    background-color:antiquewhite;
    
    
}
.product-container .product img{
    justify-content: space-between;
    border-radius: 20px;
    width: 180px;
    height: 180px;
    padding:10px;
}
.product p,h2{
    padding-left: 30px;
    margin-top: 5px;

}
.product h2{
    font-weight: 200;
    font-size: 20px;
}
.product p{
    font-weight: 900;
    font-size: 30px;
}
.product h6{
    font-size: 12px;
    background-color: green;
    width: 30px;
    height: 15px;
    border-radius: 5px;
    color: white;
    position: relative;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 0px;
    top: -20px;
    left: 23px;
   
    
}


 .product:hover img {
    
    padding:5px;
    width: 190px;
    height: 200px;
    transition: border 0.4s ease-in-out;
    cursor: pointer;
    box-shadow:  -10px 10px  20px aliceblue ;

    
}

