#img{
    width: 380px;
    height: 480px;
    position: absolute;
    left: 100px;
    top: 200px;
    border: solid black 0.1px;
    border-radius: 10px;
}
#highlights{
    position: absolute;
    top: 280px;
    right: 570px;
    font-size: 20px;
}
.details{
    position: absolute;
    top: 300px;
    right: 200px;
}
#name{
    position: absolute;
    right: 340px;
    top: 150px;
    font-weight: 200;
}
#rating{
    font-size: 12px;
    background-color: green;
    width: 30px;
    height: 15px;
    border-radius: 5px;
    color: white;
    position: absolute;
    padding-left: 5px;
    padding-bottom: 3px;
    padding-top: 0px;
    top: 210px;
    right: 450px;
}
#price{
    position: absolute;
    top: 190px;
    right: 330px;
}
#quan{
    position: absolute;
    top: 500px;
    right: 570px;
    font-size: 20px;
}
.quantity{
    display: flex;

}
#plus{
    background-color: grey;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 500px;
    right: 350px;
    font-size: 25px;
    padding-bottom: 18px;
    font-weight: 600;
}
#minus{
    background-color: grey;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 500px;
    right: 450px;
    font-size: 25px;
    font-weight: 600;

}
#value{
    
    font-size: 20px;
    position: absolute;
    top: 490px;
    right: 410px;
}

#tag{
    font-size: 20px;
    position: absolute;
    top: 400px;
    right: 360px;
}
  
  #addbtn  {
    position: absolute;
    right: 150px;
    top: 613px;
    padding-left:40px ;
   
    padding-top: 3px;
    width: 180px;
    height: 43px;
    cursor: pointer;
    border: solid black 0.1px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color: green;
  }
  #rembtn  {
    position: absolute;
    right: 150px;
    top: 613px;
    padding-left:40px ;
   
    padding-top: 3px;
    width: 180px;
    height: 43px;
    cursor: pointer;
    border: solid black 0.1px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    background-color:red;
  }
  #cart3{
    position: absolute;
    color: white;
    top:625px ;
    right:283px;


  }
  #wishlist {
    position: absolute;
    cursor: pointer;
    right: 350px;
    top: 610px;
    width: 130px;
    font-size: 16px;
    padding-left: 10px;
    padding-top: 6px;
    height: 34px;
    border: solid black 0.1px;
    border-radius: 10px;
    color: white;
    background-color: red;
  }
  #calculate{
    position: absolute;
    top: 500px;
    right: 100px;
    font-size: 10px;
  }

  #calculate2{
    position: absolute;
    top: 530px;
    right: 100px;
  }
  